<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application id</key>
	<string>cidemo</string>
	<key>application version</key>
	<string>1.0</string>
	<key>authenticitySharedData</key>
	<string>${authenticitySharedData}</string>
	<key>buildtime</key>
	<string>1426888577</string>
	<key>environment</key>
	<string>iphone</string>
	<key>host</key>
	<string>192.168.1.124</string>
	<key>ignoredFileExtensions</key>
	<string></string>
	<key>platformVersion</key>
	<string>7.0.0.0</string>
	<key>port</key>
	<string>9080</string>
	<key>protocol</key>
	<string>http</string>
	<key>testWebResourcesChecksum</key>
	<string>false</string>
	<key>wlAppFamily</key>
	<string></string>
	<key>wlMainFile</key>
	<string>index.html</string>
	<key>wlSecureDirectUpdatePublicKey</key>
	<string></string>
	<key>wlServerContext</key>
	<string>/</string>
	<key>wlShareCookies</key>
	<string></string>
	<key>wlShareUserCert</key>
	<string>false</string>
	<key>wlUid</key>
	<string>Px71fflbDrQ9PvFH/XdADg==</string>
</dict>
</plist>
